{
  "openapi": "3.1.0",
  "info": {
    "title": "BoxCompute Customer Sandbox API",
    "version": "2.0.0",
    "license": {
      "name": "Proprietary"
    },
    "description": "The public customer contract for /api/v2. This is not the private downstream Sandbox API.",
    "x-versioning-policy": "Compatible fields and routes may be added within v2. Removing or changing existing behavior requires a new major path. Clients must ignore unknown response fields. SDK publication requires a versioned release generated from this document."
  },
  "servers": [
    {
      "url": "https://api.boxcompute.ai"
    }
  ],
  "paths": {
    "/api/v2/openapi.json": {
      "get": {
        "operationId": "getPublicOpenApi",
        "summary": "Download this public contract",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/auth": {
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "revokeCurrentApiKey",
        "summary": "Revoke the API key used for this request",
        "responses": {
          "204": {
            "description": "Key revoked"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/workspaces": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "listWorkspaces",
        "summary": "List owned workspaces",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspaces"
                  ],
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "workspace:create",
        "operationId": "createWorkspace",
        "summary": "Create an account workspace",
        "description": "Creates an empty workspace for the authenticated account. The public API allows at most 10 workspaces per account. This operation does not grant workspace deletion rights.",
        "parameters": [
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created or original response replayed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace"
                  ],
                  "properties": {
                    "workspace": {
                      "$ref": "#/components/schemas/Workspace"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency conflict or workspace quota exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 128 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "listSandboxes",
        "summary": "List owned Sandbox instances",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sandboxes"
                  ],
                  "properties": {
                    "sandboxes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sandbox"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:create",
        "operationId": "createSandbox",
        "summary": "Create and start a Sandbox in an owned workspace",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSandboxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sandbox created and running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sandbox"
                  ],
                  "properties": {
                    "sandbox": {
                      "$ref": "#/components/schemas/Sandbox"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key was used with a different request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 128 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "inspectSandbox",
        "summary": "Inspect an owned Sandbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sandbox"
                  ],
                  "properties": {
                    "sandbox": {
                      "$ref": "#/components/schemas/Sandbox"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:delete",
        "operationId": "deleteSandbox",
        "summary": "Delete an owned Sandbox and its volume",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sandbox deleted"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/logs": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "listSandboxLogs",
        "summary": "Read retained Sandbox logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
            }
          },
          {
            "name": "until",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "stdout",
                "stderr"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "workload",
                "execute",
                "process"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 1000,
              "type": "integer",
              "minimum": 1,
              "maximum": 5000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "logs"
                  ],
                  "properties": {
                    "logs": {
                      "$ref": "#/components/schemas/SandboxLogs"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/execute": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "executeCommand",
        "summary": "Execute structured argv in an owned Sandbox",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "result"
                  ],
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/ExecutionResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "408": {
            "description": "Execution timed out",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 128 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/operations": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "startSandboxOperation",
        "summary": "Start an independently observable command",
        "description": "Starts structured argv without tying remote cancellation to the HTTP connection. Reuse the required account-scoped idempotency key to recover the original operation after a lost response.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "$ref": "#/components/parameters/RequiredIdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartOperationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Operation accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Idempotency key was used with a different request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 128 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/operations/{operationId}": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "inspectSandboxOperation",
        "summary": "Inspect an operation",
        "description": "Terminal states are immutable. A non-zero command exit is a completed operation with its exitCode.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "description": "Opaque customer-facing operation ID.",
            "schema": {
              "type": "string",
              "pattern": "^op_[a-f0-9]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/operations/{operationId}/output": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "readSandboxOperationOutput",
        "summary": "Read bounded operation output from a byte offset",
        "description": "Returns at most limit decoded bytes. offset and nextOffset are absolute byte offsets. truncated is true when requested earlier bytes are no longer retained.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "description": "Opaque customer-facing operation ID.",
            "schema": {
              "type": "string",
              "pattern": "^op_[a-f0-9]{32}$"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "stdout",
                "stderr"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "default": 65536,
              "type": "integer",
              "minimum": 1,
              "maximum": 262144
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationOutputChunk"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/operations/{operationId}/wait": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "waitForSandboxOperation",
        "summary": "Wait up to 30 seconds for operation progress",
        "description": "A wait timeout returns the current non-terminal operation; it is not a transport error and does not cancel the command.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "description": "Opaque customer-facing operation ID.",
            "schema": {
              "type": "string",
              "pattern": "^op_[a-f0-9]{32}$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds 128 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/operations/{operationId}/cancel": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "cancelSandboxOperation",
        "summary": "Request operation cancellation",
        "description": "Returns cancelled only when cancellation wins. If completion wins the race, returns that immutable completed terminal result. Repeating cancellation returns the existing terminal result.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "description": "Opaque customer-facing operation ID.",
            "schema": {
              "type": "string",
              "pattern": "^op_[a-f0-9]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files/stat": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "statSandboxFile",
        "summary": "Stat a path in an owned Sandbox workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileStatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files/content": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "readSandboxFile",
        "summary": "Read bounded binary content from an owned Sandbox workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "default": 0,
              "type": "integer",
              "minimum": 0,
              "maximum": 9007199254740991
            }
          },
          {
            "name": "maxBytes",
            "in": "query",
            "schema": {
              "default": 8388608,
              "type": "integer",
              "minimum": 1,
              "maximum": 8388608
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bounded file bytes",
            "headers": {
              "Accept-Ranges": {
                "schema": {
                  "type": "string",
                  "const": "bytes"
                }
              },
              "X-BoxCompute-Offset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-BoxCompute-Next-Offset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-BoxCompute-File-Size": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-BoxCompute-EOF": {
                "schema": {
                  "type": "boolean"
                }
              },
              "X-BoxCompute-Next-Cursor": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "maxLength": 8388608,
                  "x-boxcompute-max-bytes": 8388608
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "writeSandboxFile",
        "summary": "Write bounded binary content to an owned Sandbox workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 8388608,
                "x-boxcompute-max-bytes": 8388608
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "File written"
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/octet-stream",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "editSandboxFile",
        "summary": "Atomically edit UTF-8 text when its SHA-256 precondition matches",
        "description": "The edit commits as one atomic replacement only when expectedSha256 matches the complete current file. A stale hash returns PRECONDITION_FAILED without changing the file. Unless replaceAll is true, oldText must occur exactly once. Transport failure before a response leaves the outcome indeterminate; retry only after reading the file again.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditFileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "oldText is absent or ambiguous",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "File content no longer matches expectedSha256",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files/list": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:read",
        "operationId": "listSandboxFiles",
        "summary": "List one stable bounded page from an owned Sandbox directory",
        "description": "Entries use the Sandbox filesystem's stable native directory order. Pass nextCursor unchanged to continue. A directory membership mutation invalidates the cursor with CURSOR_STALE; child metadata can reflect its value when that page is read.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "default": 1000,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 4096
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileList"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files/directory": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "createSandboxDirectory",
        "summary": "Create a directory in an owned Sandbox workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Directory created"
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files/rename": {
      "post": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "renameSandboxFile",
        "summary": "Atomically rename a path in an owned Sandbox workspace",
        "description": "Source and destination must stay in the same Sandbox workspace and both parents must exist. By default an existing destination returns DESTINATION_EXISTS; overwrite atomically replaces it. A transport failure before a response leaves the outcome indeterminate, so inspect both paths before retrying.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameFileRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Path renamed"
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Destination exists and overwrite is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request body is not application/json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/sandboxes/{id}/files": {
      "delete": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "sandbox:execute",
        "operationId": "removeSandboxFile",
        "summary": "Remove a file or directory from an owned Sandbox workspace",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Customer-facing Sandbox ID.",
            "schema": {
              "type": "string",
              "pattern": "^sbx_"
            }
          },
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 4096,
              "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "schema": {
              "default": "false",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "name": "force",
            "in": "query",
            "schema": {
              "default": "false",
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Path removed"
          },
          "400": {
            "description": "Invalid or unsafe file path or options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Owned Sandbox or file not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "The file or directory changed after the continuation cursor was issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "413": {
            "description": "File request or response exceeds its byte or entry limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "Sandbox service unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "Sandbox runtime unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/usage": {
      "get": {
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "x-boxcompute-required-scope": "usage:read",
        "operationId": "getUsage",
        "summary": "Read account usage",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "default": 30,
              "type": "integer",
              "minimum": 1,
              "maximum": 90
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "usage"
                  ],
                  "properties": {
                    "usage": {
                      "$ref": "#/components/schemas/Usage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Account-scoped replay key. Use 1–255 visible ASCII characters. Repeating the same canonical request within 24 hours replays the original response; using the key for a different public mutation returns IDEMPOTENCY_CONFLICT.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^[\\x21-\\x7e]+$"
        },
        "required": false
      },
      "RequiredIdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Account-scoped replay key. Use 1–255 visible ASCII characters. Repeating the same canonical request within 24 hours replays the original response; using the key for a different public mutation returns IDEMPOTENCY_CONFLICT.",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255,
          "pattern": "^[\\x21-\\x7e]+$"
        },
        "required": true
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "BoxCompute API key (bc_live_…)",
        "description": "Account-scoped key. Each operation declares its required scope."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "AUTHENTICATION_REQUIRED",
              "INVALID_API_KEY",
              "INSUFFICIENT_SCOPE",
              "INVALID_REQUEST",
              "INVALID_PATH",
              "INVALID_RANGE",
              "INVALID_CURSOR",
              "CURSOR_STALE",
              "NOT_FOUND",
              "FILE_NOT_FOUND",
              "DESTINATION_EXISTS",
              "PRECONDITION_FAILED",
              "EDIT_CONFLICT",
              "BINARY_FILE",
              "EXECUTION_TIMEOUT",
              "PAYLOAD_TOO_LARGE",
              "SANDBOX_UNAVAILABLE",
              "UNSUPPORTED_MEDIA_TYPE",
              "INVALID_IDEMPOTENCY_KEY",
              "IDEMPOTENCY_CONFLICT",
              "WORKSPACE_QUOTA_EXCEEDED",
              "SERVICE_UNAVAILABLE"
            ]
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "error"
        ],
        "additionalProperties": false
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "id",
          "name",
          "createdAt"
        ],
        "additionalProperties": false
      },
      "CreateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "\\S"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": {}
      },
      "Sandbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "cold",
              "running"
            ]
          },
          "createdAt": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lastUsedAt": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "id",
          "workspaceId",
          "name",
          "state",
          "createdAt",
          "lastUsedAt"
        ],
        "additionalProperties": false
      },
      "CreateSandboxRequest": {
        "type": "object",
        "properties": {
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "pattern": "\\S"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "pattern": "\\S"
          }
        },
        "required": [
          "workspaceId"
        ],
        "additionalProperties": {}
      },
      "ExecuteRequest": {
        "type": "object",
        "properties": {
          "argv": {
            "minItems": 1,
            "maxItems": 64,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 8192
            }
          },
          "cwd": {
            "default": "/workspace",
            "type": "string",
            "pattern": "^\\/workspace(?:\\/.*)?$"
          },
          "env": {
            "type": "object",
            "propertyNames": {
              "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
            },
            "additionalProperties": {
              "type": "string"
            },
            "maxProperties": 64
          },
          "timeoutSeconds": {
            "default": 120,
            "type": "integer",
            "minimum": 1,
            "maximum": 900
          },
          "maxOutputBytes": {
            "default": 262144,
            "type": "integer",
            "minimum": 1,
            "maximum": 1048576
          }
        },
        "required": [
          "argv"
        ],
        "additionalProperties": {}
      },
      "StartOperationRequest": {
        "type": "object",
        "properties": {
          "argv": {
            "minItems": 1,
            "maxItems": 64,
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 8192
            }
          },
          "cwd": {
            "default": "/workspace",
            "type": "string",
            "pattern": "^\\/workspace(?:\\/.*)?$"
          },
          "env": {
            "type": "object",
            "propertyNames": {
              "pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
            },
            "additionalProperties": {
              "type": "string"
            },
            "maxProperties": 64
          },
          "timeoutSeconds": {
            "default": 120,
            "type": "integer",
            "minimum": 1,
            "maximum": 900
          },
          "maxOutputBytes": {
            "default": 262144,
            "type": "integer",
            "minimum": 1,
            "maximum": 1048576
          }
        },
        "required": [
          "argv"
        ],
        "additionalProperties": {}
      },
      "ExecutionResult": {
        "type": "object",
        "properties": {
          "stdout": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "exitCode": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "timedOut": {
            "type": "boolean"
          },
          "stdoutTruncated": {
            "type": "boolean"
          },
          "stderrTruncated": {
            "type": "boolean"
          }
        },
        "required": [
          "stdout",
          "stderr",
          "exitCode",
          "timedOut",
          "stdoutTruncated",
          "stderrTruncated"
        ],
        "additionalProperties": false
      },
      "Operation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "pattern": "^op_[a-f0-9]{32}$"
          },
          "state": {
            "type": "string",
            "enum": [
              "accepted",
              "running",
              "completed",
              "failed",
              "timedOut",
              "cancelled"
            ]
          },
          "exitCode": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": -9007199254740991,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "signal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "acceptedAt": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "startedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "finishedAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              {
                "type": "null"
              }
            ]
          },
          "stdoutOffset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "stderrOffset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "operationId",
          "state",
          "exitCode",
          "signal",
          "acceptedAt",
          "startedAt",
          "finishedAt",
          "stdoutOffset",
          "stderrOffset",
          "expiresAt"
        ],
        "additionalProperties": false
      },
      "OperationResponse": {
        "type": "object",
        "properties": {
          "operation": {
            "type": "object",
            "properties": {
              "operationId": {
                "type": "string",
                "pattern": "^op_[a-f0-9]{32}$"
              },
              "state": {
                "type": "string",
                "enum": [
                  "accepted",
                  "running",
                  "completed",
                  "failed",
                  "timedOut",
                  "cancelled"
                ]
              },
              "exitCode": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "signal": {
                "anyOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "acceptedAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              "startedAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "finishedAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "stdoutOffset": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "stderrOffset": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "expiresAt": {
                "anyOf": [
                  {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "operationId",
              "state",
              "exitCode",
              "signal",
              "acceptedAt",
              "startedAt",
              "finishedAt",
              "stdoutOffset",
              "stderrOffset",
              "expiresAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "operation"
        ],
        "additionalProperties": false
      },
      "OperationOutputChunk": {
        "type": "object",
        "properties": {
          "stream": {
            "type": "string",
            "enum": [
              "stdout",
              "stderr"
            ]
          },
          "dataBase64": {
            "type": "string"
          },
          "offset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "nextOffset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "earliestOffset": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "truncated": {
            "type": "boolean"
          }
        },
        "required": [
          "stream",
          "dataBase64",
          "offset",
          "nextOffset",
          "earliestOffset",
          "truncated"
        ],
        "additionalProperties": false
      },
      "WaitOperationRequest": {
        "type": "object",
        "properties": {
          "timeoutSeconds": {
            "default": 30,
            "type": "integer",
            "minimum": 0,
            "maximum": 30
          }
        },
        "additionalProperties": {}
      },
      "SandboxLogs": {
        "type": "object",
        "properties": {
          "sandboxId": {
            "type": "string"
          },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string"
                },
                "stream": {
                  "type": "string",
                  "enum": [
                    "stdout",
                    "stderr"
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "workload",
                    "execute",
                    "process"
                  ]
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "timestamp",
                "stream",
                "source",
                "message"
              ],
              "additionalProperties": false
            }
          },
          "truncated": {
            "type": "boolean"
          },
          "retention_seconds": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "sandboxId",
          "entries",
          "truncated",
          "retention_seconds"
        ],
        "additionalProperties": false
      },
      "WorkspacePath": {
        "type": "string",
        "maxLength": 4096,
        "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
      },
      "FileStat": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "maxLength": 4096,
            "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
          },
          "kind": {
            "type": "string",
            "enum": [
              "file",
              "dir",
              "other"
            ]
          },
          "isSymbolicLink": {
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "mtimeMs": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "path",
          "kind",
          "isSymbolicLink",
          "size",
          "mtimeMs"
        ],
        "additionalProperties": false
      },
      "FileStatResponse": {
        "type": "object",
        "properties": {
          "file": {
            "type": "object",
            "properties": {
              "path": {
                "type": "string",
                "maxLength": 4096,
                "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
              },
              "kind": {
                "type": "string",
                "enum": [
                  "file",
                  "dir",
                  "other"
                ]
              },
              "isSymbolicLink": {
                "type": "boolean"
              },
              "size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "mtimeMs": {
                "type": "number",
                "minimum": 0
              }
            },
            "required": [
              "path",
              "kind",
              "isSymbolicLink",
              "size",
              "mtimeMs"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "file"
        ],
        "additionalProperties": false
      },
      "FileListEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "path": {
            "type": "string",
            "maxLength": 4096,
            "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
          },
          "kind": {
            "type": "string",
            "enum": [
              "file",
              "dir",
              "symlink",
              "other"
            ]
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "mtimeMs": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "name",
          "path",
          "kind",
          "size",
          "mtimeMs"
        ],
        "additionalProperties": false
      },
      "FileList": {
        "type": "object",
        "properties": {
          "entries": {
            "maxItems": 1000,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "path": {
                  "type": "string",
                  "maxLength": 4096,
                  "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "file",
                    "dir",
                    "symlink",
                    "other"
                  ]
                },
                "size": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 9007199254740991
                },
                "mtimeMs": {
                  "type": "number",
                  "minimum": 0
                }
              },
              "required": [
                "name",
                "path",
                "kind",
                "size",
                "mtimeMs"
              ],
              "additionalProperties": false
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "entries",
          "nextCursor"
        ],
        "additionalProperties": false
      },
      "CreateDirectoryRequest": {
        "type": "object",
        "properties": {
          "recursive": {
            "default": false,
            "type": "boolean"
          }
        },
        "additionalProperties": {}
      },
      "RenameFileRequest": {
        "type": "object",
        "properties": {
          "destination": {
            "type": "string",
            "maxLength": 4096,
            "pattern": "^\\/workspace(?:\\/(?!\\.{1,2}(?:\\/|$))[^/\\0]+)*$"
          },
          "overwrite": {
[...]
